/* Removing user-agent autofill styles by delaying them  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-transition: color 999999s ease-out, background-color 999999s ease-out !important;
	-webkit-transition-delay: 999999s !important;
}

/* Removing scrollbar shift */
html {
	scrollbar-gutter: stable !important;
	background-color: var(--p-bg-color);
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background: var(--p-bg-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--p-scrollbar-color);
}
